body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 2;
    padding: 0;
}

.new-lab-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    padding-top: 30px;
}

.new-lab-field label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-lab-field input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-lit-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    padding-top: 30px;
}

.new-lit-field label{
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.new-lit-field input{
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}
  
.add-origin-info-backdrop {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    top: 50%;
    left: 50%;
}

.citation-type {
    background-color: #a892ee;
    padding: 10px;
}
  
.citation-type label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.citation-type select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
}

.next-button button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    text-align: right;
}

.next-button button:hover,
.next-button button:active {
  background-color: #510674;
  border-color: #510674;
}

.-nextbutton button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.next-button button.alternative:hover,
.next-button button.alternative:active {
  background-color: #ddb3f8;
}
